---
layout: layouts/base.njk
title: Oops! Not Found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div style="text-align: center;">
  <h1>404 - Page Not Found</h1>
  <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
  <a href="/">Go back home</a>
</div>
