<div class="bio">
  <img src="/content/assets/David_Good_Headshot.jpg" alt="{{ metadata.author.name }}">
  <p>
    {{ metadata.author.summary }}
    <a href="https://github.com/{{ metadata.author.social.github }}">GitHub</a> | <a href="https://www.linkedin.com/in/{{ metadata.author.social.linkedin }}/">LinkedIn</a> | <a href="https://twitter.com/{{ metadata.author.social.twitter }}">Twitter</a>
  </p>
</div>
