<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="/src/styles/global.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-solarizedlight.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css" media="(prefers-color-scheme: dark)">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1 class="site-title"><a href="/">{{ metadata.title }}</a></h1>
      {% include "bio.njk" %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      © {{ helpers.currentYear() }}, Built with <a href="https://www.11ty.dev/">Eleventy</a>
    </footer>
  </body>
</html>
